.homePage {
  display: flex;
  margin-top: 53px;
  color: white;
  justify-content: center;
  text-align: center;
  margin-top: 20vh;
  max-height: 100vh;
  max-width: 100vw;
}

.homeTitle {
  width: 15vw;
  text-align: center;
}

.homeIcon {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.fa-book {
  color: blue;
}

.fa-tv {
  color: silver;
}

.fa-music {
  color: red;
}

.fa-photo-film {
  color: green;
}

.fa-film {
  color: yellow;
}

.fa-cog{
  color: brown
}