.homeContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Scroll Vertical Disabled  */
  overflow-y: hidden;
  /* Scroll Horizontal Disabled */
  overflow-x: hidden;
}

.homePage {
  display: flex;
  color: white;
  flex-direction: column;
  width: 78vw;
  height: 100vh;
  align-items: flex-start;
  /* Scroll Vertical Allowed  */
  overflow-y: scroll;
  /* Scroll Horizontal Disabled */
  overflow-x: hidden;
}

.homePageMediaRow {
  margin-top: 2vh;
  height: 57vh;
  width: 78vw;
  text-decoration: none;
}

.homeTemplateSingleRow {
  margin-top: -12vh;
  margin-left: -10vw;
  overflow-x: hidden;
}

.homeRowTitle {
  display: flex;
  margin-bottom: 1vh;
  color: white;
  font-size: 1.8vw;
}

.homeRowType {
  margin-right: 1vw;
}

.homeTemplateRow {
  margin-left: -1vw;
}

.homeTemplateRowMusic {
  margin-left: -5vw;
}
