body {
  background-color: black;
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
}

.hide {
  display: none;
}

.templateRoot {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

#mediaContentContainer {
  margin-top: 62px;
}

.scrollBarButton {
  background: none;
  color: white;
  border: none;
  width: auto;
  height: auto;
  margin-bottom: 1vh;
}

.scrollBar {
  height: 100vh;
  width: 20px;
  position: absolute;
  right: 1%;
  top: 4%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.mediaLoading {
  color: white;
  overflow-y: hidden;
}

.mediaLoadingTitle {
  padding-top: 40px;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.mediaNotFound {
  color: white;
  width: 100vw;
  height: 100vh;
}

.mediaNotFoundTitle {
  display: flex;
  justify-content: center;
}

.scanMediaButton {
  height: 30px;
  margin-top: 30px;
  margin-left: 10px;
  text-decoration: none;
  background-color: white;
  text-align: center;
  width: 75px;
  border-radius: 5px;
}

.scanMessages {
  margin-left: 120px;
  font-size: 15px;
  width: 800px;
  height: 500px;
  overflow: scroll;
}

.mediaRow {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin: 10px 0px 10px 0px;
}

.showFullSizeImage {
  height: 90vh;
  width: 90vw;
  border: 4px solid white;
}

/* MEDIA CARDS  */

.mediaCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 5px 5px 0px 5px;
  border-radius: 5%;
  height: -webkit-fill-available;
  position: relative;
  background-size: cover;
}

/* MEDIA CARD TOP */

.mediaCardTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediaTopBar {
  z-index: 3;
  height: 3vw;
  cursor: grab;
  border-bottom: 2px solid;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.mediaTopBarButtons {
  position: relative;
  display: flex;
}

.mediaDescBarTitle {
  font-size: 1.5vw;
  font-weight: 800;
  display: flex;
  margin-right: 10px;
  position: inherit;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.mediaTitle {
  width: 100vw;
  font-weight: 800;
  display: flex;
  position: inherit;
  overflow: hidden;
  justify-content: flex-start;
  color: white;
  font-size: 1.1vw;
  margin-top: 5px;
  margin-bottom: 0px;
  height: 3vw;
}

.mediaTitleMusic {
  top: 1px;
  height: auto;
  min-height: 2vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1vw;
  font-weight: 800;
  color: white;
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

/* MEDIA CARD MIDDLE */

.mediaCardMiddle {
  margin: 0.5vw;
}

.mediaCreator {
  bottom: 99%;
  left: 2.2%;
  font-size: 1vw;
  font-weight: 600;
  text-align: left;
  overflow: hidden;
}

.mediaCreatorMusic {
  margin-left: -3px;
  position: absolute;
  bottom: 0px;
  height: 2vw;
  left: 3px;
  font-size: 1vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 800;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaCategories {
  font-size: 1vw;
}

.mediaItemNumber {
  text-align: right;
  font-weight: 500;
  font-size: 0.7vw;
  color: floralwhite;
  position: absolute;
  bottom: 33%;
  right: 17%;
}

.mediaDescription {
  width: auto;
  margin: 0.5vw;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 32vh;
}

.mediaDescriptionMusic {
  width: auto;
  margin: 0.5vw;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mediaDescriptionText {
  margin: 0.5vw;
  font-size: 1vw;
  height: 24.5vh;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* MEDIA CARD BOTTOM */
.mediaButtonSpanPhotos {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: inherit;
  position: relative;
}

.mediaButtonSpanDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: inherit;
}

.mediaButton {
  font-size: 0.8vw;
  font-weight: bold;
  border: none;
  background: none;
  color: white;
  padding: 0px;
  margin-right: 11px;
}

.mediaButtonDescription {
  font-size: 1vw;
  font-weight: bold;
  border: none;
  background: none;
  margin: 0vw 1vw 1vw 1vw;
}

/* TV Seasons Popup */
.seasonsPreview {
  width: 870px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -50px;
  margin-top: 20px;
}

.seasonsShowTitle {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.seasonsShowSubTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.seasonsShowSubTitle2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 670px;
}

.seasonsPreviewImgDiv {
  display: flex;
  width: 175px;
  height: 250px;
  flex-direction: column;
}

.seasonsPreviewImg {
  height: 250px;
  border: 2px solid white;
}

.seasonsPreviewTitleDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.seasonsOpenRootButton {
  width: 100px;
  margin-top: -20px;
}

.episodesJsx {
  display: flex;
  border: 1px solid white;
  flex-direction: row;
  align-items: center;
  width: 869px;
  height: 112px;
}

.episodesJsxButtonDiv {
  display: flex;
  flex-direction: column;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.episodeJsxButton {
  width: auto;
  height: 30px;
  justify-content: center;
}

.episodeJsxUlPath {
  width: 100%;
  overflow: hidden;
}

/* Music Card Descriptions */
.mediaDescTitleSpan {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mediaDescriptionTitle {
  font-size: 1.3vw;
  text-align: center;
  border-bottom: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.descriptionHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.descriptionPara {
  width: 25vw;
}

.musicTrackHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.musicTracks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
  /* border: 1px solid; */
}

.musicTrack {
  width: 23vw;
  margin-left: 5px;
}

.musicOpenTrack {
  background: none;
  border: none;
  height: -webkit-fill-available;
}

.musicOpenFolderButton {
  border: none;
  background: none;
  font-weight: bold;
}

.musicButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.musicDescriptionButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Music Player */
.musicPlayer {
  display: flex;
  width: 55vw;
  height: 54px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 15%;
  z-index: 11;
}

.musicControlsDiv {
  margin-left: 50px;
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.musicTitleDiv {
  width: 39vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.musicControls {
  margin-left: 5px;
  margin-right: 5px;
}

.musicPlayerTitle {
  margin-bottom: -25px;
  width: 39vw;
  text-align: right;
  height: 38px;
  overflow: hidden;
}

.volumeSlider[type="range"] {
  -webkit-appearance: none;
  width: 150px;
  height: 4px;
  background: white;
  border-radius: 5px;
  background-image: linear-gradient(white, white);
  background-size: 90% 100%;
  background-repeat: no-repeat;
}

.volumeSlider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: black;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 white;
  transition: background 0.3s ease-in-out;
}

.volumeSlider[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.pinnedItems {
  position: absolute;
  top: 56px;
  left: 5px;
  z-index: 3;
}

.openDescriptionCard {
  position: absolute;
  top: 25%;
  left: 35vw;
}
