.navBar {
  color: black;
  background-color: goldenrod;
  height: 55px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  top: 0%;
  border-bottom: 2px solid white;
}

.navbarTitle {
  margin-left: 15px;
  font-weight: bold;
}

/* Nav Drop Downs */
.navbar-collapse {
  text-align: right;
  margin-right: 15px;
}

.navTitleRight {
  display: flex;
  font-weight: 400;
}

.dropdown-toggle {
  text-decoration: none !important;
  color: black;
}

.navOptions {
  border: none;
  background: none;
  font-size: 33px;
  font-weight: 500;
}

.navbarDropDown {
  color: black;
  display: block;
  text-align: left;
  position: absolute;
  top: 54px;
}

.navbarLinkButton {
  width: 110px;
  display: flex;
  text-decoration: none;
  font-size: 1.5vw;
  border: 2px solid black;
  color: black;
  background-color: goldenrod;
}

.navMediaOptions {
  display: flex;
  width: 225px;
  font-size: 1.2vw;
  background-color: goldenrod;
  border: 2px solid black;
}

.navbarDropDown1 {
  color: black;
  display: block;
  text-align: left;
  position: absolute;
  top: 54px;
  right: 0%;
}

/* OLD BOOTSTRAP */
/* .navLink {
  color: black;
  font-size: 25px;
  text-decoration: none;
  text-align: right;
  display: block;
  background-color: goldenrod;
  border: 2px solid white;
  text-align: left;
} */

/* END Nav Drop Downs */
