.navBar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 6vh;
  width: 78vw;
  color: black;
  font-size: 40px;
  background: white;
  z-index: 1;
  align-items: center;
  left: 11.1%;
  border-radius: 20px;
}

.navbarTitle {
  margin-left: 15px;
  font-weight: bold;
}

/* Nav Drop Downs */
.navbar-collapse {
  text-align: right;
  margin-right: 15px;
}

.navTitleRight {
  display: flex;
  font-weight: 400;
}

.dropdown-toggle {
  text-decoration: none !important;
  color: black;
}

.navOptions {
  border: none;
  background: none;
  font-size: 33px;
  font-weight: 500;
}

.navbarDropDown {
  color: black;
  display: block;
  text-align: left;
  position: absolute;
  top: 54px;
}

.navbarLinkButton {
  width: 110px;
  display: flex;
  text-decoration: none;
  font-size: 1.5vw;
  border: 2px solid black;
  color: black;
  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
}

.navMediaOptions {
  display: flex;
  width: 225px;
  font-size: 1.2vw;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
}

.menuTitleGroup {
  font-weight: 600;
  height: 4vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sliderNav {
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.navbarDropDown1 {
  color: black;
  display: block;
  text-align: left;
  position: absolute;
  top: 54px;
  right: 0%;
}

.navslider[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  background-image: linear-gradient(white, white);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

.navslider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: black;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 white;
  transition: background 0.3s ease-in-out;
}

.navslider[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
/* END Nav Drop Downs */
