/* Global */
.settingsContainer {
  color: white;
  padding-top: 40px;
  height: 100vh;
  overflow-y: scroll;
}

.settingsComponents {
  margin: 20px 10px 10px 50px;
  display: block;
}
/* End Global */

/* Scan Options */
.mediaRootDirectory {
  display: inline-flex;
  margin-top: 5px;
}

.mediaDirectoryTitle {
  font-size: 17px;
  width: 115px;
  display: inline-block;
}

.rootDirectoryInput {
  margin-left: 10px;
  width: 300px;
}

.scanFolderOptions {
  display: flex;
  flex-direction: row;
}

.settingsSaveButton {
  width: auto;
  margin-left: 5px;
}

.settingsScanButton {
  margin-left: 5px;
  width: 100px;
}
/* End Scan Options */

/* Server Response */
.settingsServerResponseContainer {
  width: 40vw;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1%;
  margin-left: 50px;
}

.serverMessages {
  max-width: 37vw;
  max-height: 35.5vh;
  justify-content: flex-end;
  overflow: scroll;
}
/* End Server Response */

/* Properties Options */
.mediaViewProperties {
  display: flex;
}

/* Program Options */
.settingsProgramItem {
  font-size: 17px;
  display: inline-block;
}

.settingsPortInput {
  width: 40px;
}

.settingsProgramButton {
  margin-left: 10px;
  width: 50px;
}

.settingsProgramTitle {
  margin-right: 10px;
  margin-top: 5px;
  width: 160px;
  display: inline-block;
}

.settingsApiKey {
  width: 300px;
}
/* End Program Options */

/* Settings Information */

.settingsDescription {
  margin-top: 20px;
  width: 500px;
  height: 100vh;
}
